<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="7zip" />
    <package id="boxstarter" />
    <package id="firefox" />
    <package id="lightshot" />
    <package id="notepadplusplus" />
    <package id="wiztree" />
    <package id="cpu-z" />
    <package id="gpu-z" />
    <package id="vscode" />
    <package id="vcredist-all" />
    <package id="vlc" />
  </packages>